@use 'typography' as *;
@use 'colors' as *;
@use 'transition' as *;
@use 'spacing' as *;

$button-l-radius: 1.75em;
$button-s-radius: 1.25em;
$button-l-height: 3em;
$button-s-height: 2.5em;

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    transition: $speed-medium;
}

.button-primary-l {
    background: $color-a;
    color: $color-white;
    font-size: $heading-m-size;
    line-height: $heading-m-height;
    border-radius: $button-l-radius;
    min-height: $button-l-height;
    font-weight: $semi-bold;
    padding: $padding-top-bottom 24px;

    &:hover {
    background: $color-b;
    }
}

.button-primary-s {
    background: $color-a;
    color: $color-white;
    font-size: $body-l-size;
    line-height: $body-l-height;
    border-radius: $button-s-radius;
    min-height: $button-s-height;

    &:hover {
    background: $color-b;
    }
}

.button-secondary {   
    font-size: $body-l-size;
    line-height: $body-l-height;
    border-radius: $button-s-radius;
    min-height: $button-s-height;
}

.button-destructive {
    background: $color-j;
    color: $color-white;
    font-size: $body-l-size;
    line-height: $body-l-height;
    border-radius: $button-s-radius;
    min-height: $button-s-height;

    &:hover {
    background: $color-k;
    }
}