$color-a: hsl(242, 48%, 58%);
$color-a-10: hsla(242, 48%, 58%, 0.1);
$color-a-25: hsla(242, 48%, 58%, 0.25);
$color-b: hsl(243, 100%, 82%);
$color-c: hsl(237, 100%, 4%);
$color-d: hsl(235, 16%, 15%);
$color-e: hsl(235, 11%, 19%);
$color-f: hsl(236, 11%, 27%);
$color-g: hsl(216, 15%, 57%);
$color-h: hsl(221, 69%, 94%);
$color-i: hsl(220, 69%, 97%);
$color-j: hsl(0, 78%, 63%);
$color-k: hsl(0, 100%, 80%);
$color-white: hsl(0, 0%, 100%);
$color-modal-overlay: hsla(0, 0%, 0%, 0.75);
$color-drop-shadow: hsla(0, 0%, 0%, 0.25);
$color-input-border: hsla(216, 15%, 57%, 0.25);
$task-color-1: hsl(193, 75%, 59%);
$task-color-2: hsl(249, 83%, 70%);
$task-color-3: hsl(155, 68%, 65%);
$task-color-4: hsl(54, 100%, 57%);
$task-color-5: hsl(14, 100%, 62%);
$task-color-6: hsl(244, 100%, 69%);
$task-color-7: hsl(133, 100%, 65%);
$task-color-8: hsl(32, 100%, 58%);