$color-a: hsl(242, 48%, 58%);
$color-a-10: hsla(242, 48%, 58%, 0.1);
$color-a-25: hsla(242, 48%, 58%, 0.25);
$color-b: hsl(243, 100%, 82%);
$color-c: hsl(237, 100%, 4%);
$color-d: #20212C;
$color-e: hsl(235, 12%, 19%);
$color-f: hsl(236, 11%, 27%);
$color-g: hsl(216, 15%, 57%);
$color-h: hsl(221, 69%, 94%);
$color-i: hsl(220, 69%, 97%);
$color-j: hsl(0, 78%, 63%);
$color-k: hsl(0, 100%, 80%);
$color-white: hsl(0, 0%, 100%);
$color-modal-overlay: hsla(0, 0%, 0%, 0.5);
$color-drop-shadow: hsla(0, 0%, 0%, 0.25);