@use 'colors' as *;
@use 'breakpoints' as *;
@use 'typography' as *;

@function dark-sidebar-border() {
    @return 0.0625rem $color-f solid;
}

.dark-mode {
    background: $color-c;

    aside, header, .task-list-item {
        background: $color-e;
    }

    main {
        background: $color-d;
    }

    h1, h2, p, b, label, .content-theme-text {
    color: $color-white;
    }

    .button-secondary {
        background: $color-white;
        font-weight: $bold;

        &:hover {
            background: $color-white;
        }
    }

    .new-column-container {
        background: $color-new-column-dark;
    }

    .task-list-item {
        color: $color-white;
    }

    .modal-styling {
        background: $color-e;

        li {
            color: $color-white;
        }

    }

    input, textarea, .dropdown {
        color: $color-white;
        font-weight: $semi-bold;

        &::placeholder {
            opacity: 0.75;
        }
    }

    .checklist-item-container {
        background: $color-d;

        b {
            color: $color-white;
        }
    }
    
    .dropdown-toggled-container {
        background: $color-d;

        li:hover {
            color: $color-white;
        }
    }

    .dropdown-item-active {
        color: $color-white;
    }

    .hidebar-container {
        &:hover {
            background: $color-white;
        }
    }


    .board-sidebar-item:hover:not(.board-active) {
        background: $color-white;
    }


    .logo-divider {
        border-right: dark-sidebar-border();
    }

    main {
        h2 {
            color: $color-g;
        }
    }

    .scrollbar-styling {

        &::-webkit-scrollbar {
            border-right: 4px $color-f solid;
        }
    }

    .scrollbar-styling-horizontal {

        &::-webkit-scrollbar {
            background: $color-f;
        }
    }

    .mouseover-active {
        background: $color-f;
    }

    .content-theme-text {
        color: $color-white !important;
    }

    @media(min-width: $tablet) {
        aside {
            border-right: dark-sidebar-border(); 
        }
        header {
            border-bottom: dark-sidebar-border(); 
        }
    }
}