@use 'colors' as *;
@use 'breakpoints' as *;
@use 'typography' as *;

.dark-mode {
    background: $color-c;

    aside, header {
        background: $color-e;
    }

    h1, h2, p, b, label {
    color: $color-white;
    }

    .button-secondary {
        background: $color-white;
        font-weight: $bold;

        &:hover {
            background: $color-white;
        }
    }

    .tasklist-container {
        background: $color-d;
        border-right: 1px $color-f solid;
    }

    .modal-styling {
        background: $color-e;
    }

    input, textarea, .dropdown {
        color: $color-white;
        font-weight: $semi-bold;

        &::placeholder {
            opacity: 0.75;
        }
    }
    

    @media(min-width: $tablet) {
        aside {
            border-left: 1px $color-f solid;
            border-right: 1px $color-f solid; 
        }
        header {
            border-bottom: 1px $color-f solid; 
            border-right: 1px $color-f solid; 
        }
    }
}