@use 'colors' as *;
@use 'breakpoints' as *;
@use 'typography' as *;

@function light-sidebar-border() {
    @return 0.0625rem $color-h solid;
}

.light-mode {
    background: $color-h;

    aside, header {
        background: $color-white;
    }

    main {
        background: $color-i;
    }

    h1, h2, p, b, label {
    color: $color-e;
    }

    h1, h2, h4 {
        font-weight: 900;
    }

    h3 {
        font-weight: 700;
    }


    .button-secondary {
        background: $color-a-10;

        &:hover {
            background: $color-a-25;
        }

    }

    .button-secondary-active {
        background: $color-a-25;
    }

    .tasklist-container {
        background: $color-i;
    }

    .modal-styling {
        background: $color-white;

        b {
            color: $color-g;
        }
    }

    input, textarea, .dropdown {
        color: $color-c;
        font-weight: $semi-bold;

        &::placeholder {
            opacity: 0.5;
            font-weight: $medium;
        }
    }

    .dropdown-toggled-container {
        background: $color-white;

        li {
            font-weight: $medium;
            &:hover {
                color: $color-a;
            }
        }
    }

    .dropdown-item-active {
        color: $color-a;
    }

    .board-sidebar-item:hover:not(.board-active) {
        background: $color-a-10;
    }

    @media(min-width: $tablet) {
        aside {
            border-right: light-sidebar-border(); 
        }
        header {
            border-bottom: light-sidebar-border(); 
        }
    }
}