@use 'breakpoints' as *;

$padding-sides: 4.266%;
$padding-top-bottom: 1rem;

$padding-sides-tablet: 1.5rem;

$board-side-minwidth: 14.6875rem;

$board-side-width: 16.3125rem;

$sidebar-width: 16.3125rem;