@use 'transition' as *;

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, b {
    transition: $speed-medium;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    overflow: hidden;
}

.hide-scroll {
    overflow: hidden!important
}

.modal-styling {
    position: fixed;
    padding: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    border-radius: 0.5rem;
    animation-name: fade-in;
    animation-duration: $speed-fast;
    width: calc(100vw - 2rem);
    max-width: 30rem;
}