@use 'transition' as *;
@use 'spacing' as *;
@use 'buttons' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'mixins_functions' as *;

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, b {
    transition: $speed-medium;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    overflow: hidden;
}

input, textarea, .dropdown, .dropdown-toggled-container {
    width: 100%;
    min-height: 2.5rem;
    padding: 0.4375rem 0.9375rem;
    border-radius: 0.25rem;
    background: inherit;
    border-style: none;
    border: 0.0625rem $color-input-border solid;
    transition: $speed-fast;
    resize: none;

    &:focus:not(.dropdown-toggled-container) {
        border: field-border-hover();
        outline: 0;
    }

    &:hover:not(.dropdown-toggled-container) {
        border: field-border-hover();
    }
}

textarea {
    min-height: 7rem;
    max-height: 7rem;
}

.field-error-border {
    border: field-border-error();

    &:hover {
        border: field-border-error();
    }

    &:focus {
        border: field-border-error();
    }
}

.hide-scroll {
    overflow: hidden!important;
    color: $color-j;
}

button {
    font-weight: $bold;
}

.modal-styling {
    padding: 1.5rem;
    z-index: 101;
    border-radius: 0.5rem;
    animation-name: fade-in-upward;
    animation-duration: $speed-fast;
    width: 100%;
    max-width: 30rem;
    transition: $speed-medium;

    h2 {
        margin-bottom: 1rem;
    }

    .field-container, .dropdown-toggled-container {
        width: 100%;
        margin: 0.25rem 0 1rem;
        font-size: $body-l-size;
        line-height: $body-l-height;
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .list-items-container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        max-height: 25vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: 1rem;
        margin: 0.25rem -1rem 0.5rem 0;

        .field-container {
            margin: 0 !important;
        }
    }
    .list-item-container {
        display: flex;
        align-items: center;

        &:nth-of-type(1) .x-icon {
            cursor: auto;
        }

        input {
            margin: 0;
        }

        .x-icon {
            cursor: pointer;
            margin-right: -1rem;
            height: 2.5rem;
            width: 3.0rem;
            padding: 0 1rem;
        }
    }
    .button-secondary {
        margin-top: 0.75rem;
        margin-bottom: 1rem;

        span {
            font-weight: $bold;
        }
    }

    .field-container {
        position: relative;
        p {
            position: absolute;
            left: calc(100% - 12ch);
            top: 50%;
            transform: translateY(-50%);
            color: $color-j;
        }
        .list-item-error-indent {
            left: calc(100% - 15.5ch);
        }
    }

    @media(max-width: 365px) {
        .field-container p {
            width: 8ch;
            left: calc(100% - 23vw);
            text-align: center;
            line-height: 1.1em;
        }
        .textarea-err-msg {
            top: 75% !important;
        }
        .list-item-error-indent {
            left: calc(100% - 34vw) !important;
        }
    }
}

.dropdown-arrow {
    transition: $speed-fast;
    width: 0.625rem;
}

.board-sidebar-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: $padding-top-bottom $padding-sides-tablet;
    min-height: $button-l-height;
    border-top-right-radius: $button-l-radius;
    border-bottom-right-radius: $button-l-radius;
    transition: $speed-medium;
    cursor: pointer;

    &:hover:not(.board-active) h3 {
        color: $color-a;
    }
    &:hover:not(.board-active) .board-sidebar-icon {
        fill: $color-a;
    }
}

.board-sidebar-icon {
    fill: $color-g;
    width: 1rem;
    height: 1rem;
}

.board-side-item-minwidth {
    min-width: 14.6875rem;
}

.curved-border {
    border-radius: 0.5rem;
}
