@use 'transition' as *;
@use 'colors' as *;
@use 'typography' as *;

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, b {
    transition: $speed-medium;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    overflow: hidden;
}

input, textarea, .dropdown {
    width: 100%;
    min-height: 2.5rem;
    padding: 0.4375rem 0.9375rem;
    border-radius: 4px;
    background: inherit;
    border-style: none;
    border: 0.0625rem $color-input-border solid;
    transition: $speed-fast;

    &:focus {
        border: 0.0625rem $color-a solid;
        outline: 0;
    }

    &:hover {
        border: 0.0625rem $color-a solid;
    }
}

textarea {
    min-height: 7rem;
    max-height: 7rem;
}

.hide-scroll {
    overflow: hidden!important
}

.modal-styling {
    position: fixed;
    padding: 1.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    border-radius: 0.5rem;
    animation-name: fade-in;
    animation-duration: $speed-fast;
    width: calc(100% - 2rem);
    max-width: 30rem;
    transition: $speed-medium;

    h2 {
        margin-bottom: 1rem;
    }

    input, textarea, .dropdown {
        margin: 0.5rem 0 1rem;
        font-size: $body-l-size;
        line-height: $body-l-height;
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-secondary {
        margin-bottom: 1rem;
    }
}